/*|Video Box Style|*/
video {
  background: var(--cNeutralDark);
  border-radius: 10px;
}
video#localVideo {
  width: 90vw;
  height: 95vh;
}
video#localVideo.twoView {
  width: 20vw;
  height: 20vw;
}
.vholder {
  position: relative;
  display: inline-block;
  z-index: 2;
  border-radius: 10px;
}
.vholder.twoView {
  position: absolute;
  display: inline-block;
  left: 3vw;
  top: 3vw;
}

video#guestVideo {
  width: 95vw;
  height: 95vh;
}
.vholder-guest {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.hideVGuest {
  display: none;
}

#backlobby {
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 20px;
}

@media screen and (max-width: 520px) {
  video#localVideo {
    width: 95vw;
    height: 95vh;
  }
  video#guestVideo {
    width: 92vw;
    height: 92vh;
  }
  .vholder {
    position: relative;
  }
  video#localVideo.twoView {
    width: 30vw;
    height: 30vw;
  }
  .vholder.twoView {
    position: absolute;
    display: inline-block;
    left: 3vw;
    top: 3vw;
  }
}
